* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #282c3a;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  perspective: 1px;
  transform-style: preserve-3d;
}

/* ============== H E A D E R ==============*/

header {
  box-sizing: border-box;


  background-image: url("../img/header.png");
  height: 95vh;
  background-position: 20% 20%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 -webkit-background-size: cover;
 border-bottom: 4px solid black;
 box-shadow: 0 0 15px black;
 margin-bottom: 70px;
}


/* ============== N A V B A R  ==============*/
nav {
  background-color: rgba(35, 35, 35, 0.75);
  border-bottom: 5px solid black;
  box-shadow: 0 0 15px black;
}
.navbar div ul li {
  list-style: none;
  text-transform: uppercase;
}
.navbar div ul li a {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
  text-decoration: none;
  line-height: 180%;
  text-align: center;
  transition: all 1s;
}
.navbar div ul li a:hover {
  color: #ad3a3a;
  transition: all 1s;
  text-shadow: 0 0 15px black;
}

/* ============== T I T R E  ==============*/
.titre div h1 {
  color: #eaeaea;
  text-align: center;
  margin-top: 25%;
  border: 3px solid #eaeaea;
  border-radius: 2px;
  padding: 25px;
  background-color: rgba(35, 35, 35, 0.6);
  box-shadow: 0 0 15px black;
  text-shadow: 0 0 15px black;
}

/* ============== M A P  ==============*/
#map {
  height: 60vh;
  width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
  margin-bottom: 70px;

}
