* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Orbitron", sans-serif;
  background-color: #282c3a;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ============== H E A D E R ==============*/

header {
  background-image: url("../img/header.png");
  height: 95vh;
  background-position: 20% 20%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 -webkit-background-size: cover;
 border-bottom: 4px solid black;
 box-shadow: 0 0 15px black;
 margin-bottom: 70px;
}
.page-back {
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  position: absolute;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;
}

/* ============== N A V B A R  ==============*/
nav {
  background-color: rgba(35, 35, 35, 0.75);
  border-bottom: 5px solid #0d001c;
  box-shadow: 0 0 15px black;
}
.navbar div ul li {
  list-style: none;
  text-transform: uppercase;
}
.navbar div ul li a {
  font-weight: 300;
  color: #b7b7b7;
  font-size: 20px;
  padding-top: 20px;
  text-decoration: none;
  line-height: 180%;
  text-align: center;
  transition: all 1s;
}
.navbar div ul li a:hover {
  color: #ad3a3a;
  transition: all 1s;
  text-shadow: 0 0 15px black;
}

/* ============== T I T R E  ==============*/
.titre div h1 {
  color: #b7b7b7;
  text-align: center;
  margin-top: 25%;
  border: 3px solid #23004c;
  border-radius: 2px;
  padding: 25px;
  background-color: rgba(35, 35, 35, 0.6);
  box-shadow: 0 0 15px black;
  text-shadow: 0 0 15px black;
}

/* ============== M A P  ==============*/
#map {
  height: 60vh;
  width: 70%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
  margin-bottom: 70px;
  margin: 0 auto 70px;
}






















 /*yfd*/
